<html>
    <head>        
        <title>Aplikasi Klasifikasi Data Iris</title>
    </head>
    <body>    
            <h1>
                Klasifikasi data Iris:
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
            >
                <label for="day">Day</label>
                <input
                    type="text"
                    name="day"
                    placeholder="day"
                    required="required"
                />
                <label for="outlook" >Outlook</label>
                <input
                    type="text"
                    name="outlook"
                    placeholder="outlook"
                    required="outlook"                    
                />

                <label for="temperature" >Temperature

                </label >
                <input
                    type="text"
                    name="temperature"
                    placeholder="temperature"
                    required="required"
                />

                <label for="humidity" >Humidity

                </label >
                <input
                    type="text"
                    name="humidity"
                    placeholder="humidity"
                    required="required"
                />

                <label for="wind" 
                    >Wind

                </label >
                <input
                    type="text"
                    name="wind"
                    placeholder="wind"
                    required="required"
                />

              
                 <button
                    type="submit"                    
                >
                    KLASIFIKASI IRIS
                    
                        
                    
                </button>
            </form>
        </main>
        <section>
            <div >
                    <p>day: {{ day  }}</p>
                    <p>outlook: {{ outlook }} </p>
                    <p>temperature: {{ temperature }}</p>
                    <p>humidity: {{ humidity }}</p>
                    <p>wind: {{ wind }}</p>
		<div>
		<h1>
                    Hasil klasifikasi data iris adalah
                </h1>
                <h2> {{ hasil }}</h2>
                
            </div>
                
            </div>           
        </section>
    </body>
</html>
